body {
  margin: 20px;
}

.img {
    width: 500px;
    background-color: #fff;
}



.wrapper {
  width: 1200px;
  margin: 0 auto;


}
.control {
    position: absolute;
    right: 20px;
    top: 40px;
    border: 1px solid #333;
    padding: 20px;

    #hux , #scale , #brightness , #contrast  {
        width: 500px;
        margin-top: 5px;
        margin-bottom: 25px;
    } 

}




#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}
